
  <body>
    <header class="header">

      <div class="container-sml">
        <div class="col-12 text-center">
          <h2>
            Increase Your Happiness With Gratitude
          </h2>
          <h2 class="paragraph">
People who regularly practice gratitude experience more positive emotions,
feel more alive, sleep better,
and even have stronger immune systems.

<div class="ctas">
  <%= link_to 'Get started now', new_user_registration_path, :class => "ctas-button"%>
  <%= link_to 'Sign in', new_user_session_path,:class => "ctas-button-2" %>
</div>
        </div>
      </div>
      <div class="container-lrg">
        <div class="centerdevices col-12">
          <div class="computeriphone">
            <div class="computer">
              <div class="mask">
                <img class="mask-img" src="assets/webapp7.png">
              </div>
            </div>


            <div class="iphone">
              <div class="mask">
                <img class="mask-img" src="assets/iphoneapp7.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="feature3">
      <div class="container-lrg flex">
        <div class="col-4">
          <b class="emoji">
            🔑
          </b>
          <h3 class="subheading">
            Form a Lasting Habit
          </h3>
          <p class="paragraph">
It takes just 30 days to form a new habit. Each entry is one page and takes just a few minutes - the Journal makes creating a lasting habit easy and fun!           </p>
        </div>
        <div class="col-4">
          <b class="emoji">
            🔥
          </b>
          <h3 class="subheading">
            Get Inspired
          </h3>
          <p class="paragraph">
            For each entry you submit, you get to read what a random stranger is grateful for today. Get inspired by other's thoughtfulness!
          </p>
        </div>
        <div class="col-4">
          <b class="emoji">
            ☺️
          </b>
          <h3 class="subheading">
            Totally Free
          </h3>
          <p class="paragraph">
            Take advantage of gratitude's benefits free of charge. Sleep better, improve self-esteem, and enhance empathy through gratitude.
           </p>
        </div>
      </div>
    </div>

    <div class="socialproof">
      <div class="container-lrg">
        <div class="flex text-center">
          <div class="col-4">
            <h3>
              30 Days
            </h3>
            <b class="paragraph">
              Form a lasting habit
            </b>
          </div>
          <div class="col-4">
            <h3>
              100% free
            </h3>
            <b class="paragraph">
              What do you have to lose?
            </b>
          </div>

          <div class="col-4">
            <h3>
              Zero Excuses
            </h3>
            <b class="paragraph">
              Get started today
            </b>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container-sml text-center">
        <div class="col-12">
          <h2>
        Gratitude may be one of the most overlooked tools that we all have access to every day.    </h2>
          <div class="ctas">
            <%= link_to '10-Second Sign up', new_user_registration_path, :class => "ctas-button"%>
            <%= link_to 'Sign in', new_user_session_path,:class => "ctas-button-2" %>
          </div>
        </div>
      </div>
    </div>
