
  <body>
    <header class="header">

      <div class="container-sml">
        <div class="col-12 text-center">
          <h2>
            The simplest way to keep a gratitude journal.
          </h2>
          <h2 class="paragraph">
People who regularly practice gratitude experience more positive emotions,
feel more alive, sleep better, express more compassion and kindness,
and even have stronger immune systems.

<div class="ctas">
  <%= link_to 'Sign up', new_user_registration_path, :class => "ctas-button"%>
  <%= link_to 'Sign in', new_user_session_path,:class => "ctas-button-2" %>
</div>
        </div>
      </div>
      <div class="container-lrg">
        <div class="centerdevices col-12">
          <div class="computeriphone">
            <div class="computer">
              <div class="mask">
                <img class="mask-img" src="assets/webapp1.png">
              </div>
            </div>
            <div class="iphone">
              <div class="mask">
                <img class="mask-img" src="assets/iphoneapp1.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="feature3">
      <div class="container-lrg flex">
        <div class="col-4">
          <b class="emoji">
            🎓
          </b>
          <h3 class="subheading">
            Brilliant Domain Names.
          </h3>
          <p class="paragraph">
            Launchaco instantly shows you the most relevant domain names. Followed by hundreds of new gtlds. Get your .gold domain name today!
          </p>
        </div>
        <div class="col-4">
          <b class="emoji">
            💐
          </b>
          <h3 class="subheading">
            Instant Handles
          </h3>
          <p class="paragraph">
            Naming your brand has never been soooo easy! With Launchaco you can instantly search for twitter, facebook, medium, and instagram handles.
          </p>
        </div>
        <div class="col-4">
          <b class="emoji">
            🚀
          </b>
          <h3 class="subheading">
            Gorgeous Logotypes
          </h3>
          <p class="paragraph">
            We've hand travelled the depths of the internet to bring you gorgeous logotypes. Featuring the beautiful fonts of Connary Fagen.
          </p>
        </div>
      </div>
    </div>

    <div class="socialproof">
      <div class="container-lrg">
        <div class="flex text-center">
          <div class="col-3">
            <h2>
              20,923
            </h2>
            <b class="paragraph">
              Users
            </b>
          </div>
          <div class="col-3">
            <h2>
              52,548
            </h2>
            <b class="paragraph">
              Users
            </b>
          </div>
          <div class="col-3">
            <h2>
              110,552
            </h2>
            <b class="paragraph">
              Users
            </b>
          </div>
          <div class="col-3">
            <h2>
              6,850
            </h2>
            <b class="paragraph">
              Users
            </b>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container-sml text-center">
        <div class="col-12">
          <h2>
            Instantly search domains, handles and logotypes.
          </h2>
          <div class="ctas">
            <%= link_to 'Sign up', new_user_registration_path, :class => "ctas-button"%>
            <%= link_to 'Sign in', new_user_session_path,:class => "ctas-button-2" %>
          </div>
        </div>
      </div>
    </div>
