

<div class="center1">

  <div class = "card-center">


  <div class ="time_heading2">  About Us
  </div>


<div class="text3">  In positive psychology research, studies show gratitude consistently and firmly correlated with increased happiness and stronger relationships.

<br><br>
Gratitude is truly one of the most forgotten tools that we all have access to every day!
<br><br>
This journal makes gratitude easy and fun, with various quotes and writing prompts scattered throughout the journal.
</div>


<div class ="time_heading2">  The Emoji Journal
</div>
<div class="text3">
 Want a physical journal too?
 The Emoji Journal prompts you to reflect on gratitude, laughter, future goals and happiness. <br><br>
 Become a happier and more grateful person in just minutes each day. A fun twist on mindfulness,
 the emoji diary is sure to bring a smile in just a
 few manageable minutes of reflection each day.
</div>

<%= image_tag("Emoji-Journal1.jpg", class: "book-img")%>
<br><Br>
<%= button_to "Buy on Amazon", 'https://www.amazon.com/Daily-Journal-Thoughtful-Everyday-Emoji/dp/1535522712/ref=sr_1_1?ie=UTF8&qid=1475969107&sr=8-1&keywords=daily+journal+emoji',
class: "ctas-button-5"%>

  </div>





</div>
