
<div class="center1">

  <div class = "card-center">


  <div class ="time_heading2">  Feeling Stuck?
  </div>





<div class="text3">  If you’re struggling to write 3 things each day, here’s a few tips to help jog your memory:

 <li>Think of something special that happened yesterday</li>
 <li>Think of an old friend you haven’t spoken to in a long time</li>
 <li>Think of something in your home that you take for granted</li>

 Don’t worry if your entries are short. As long as you’re thoughtful each day, you’ll begin to rewire your brain for gratitude. By purchasing this book, you’re well on your way to becoming a better you!
<br>
<Br>
  <div class="center1">

 <%= link_to "Let's Write!", new_post_path ,class: "ctas-button-5"%>
 </div>
</div>


  </div>






</div>
