
<div id = "center_emoji">

<div class ="text-middle">
<% if @counting == 1 %>

 Awesome, first post! 游눩

<% end %>

<% if @counting == 2 %>
 Two posts! You're amazing! 游땘
<% end %>

<% if @counting == 3 %>
 Lucky number three (posts)! Good job 游뗿
<% end %>

<% if @counting == 4 %>
 Four days of gratitude! Feeling good? 游뱁
<% end %>

<% if @counting == 5 %>
 Awesome job. You're on fire! 游댠游댠游댠
<% end %>

<% if @counting == 6 %>
 You. Rock. Six days! 游뗿
<% end %>

<% if @counting == 7 %>
 You're a machine. 游뱄 Seven days!
<% end %>

<% if @counting == 8 %>
 Eight posts! Way to keep it up. 游꾽
<% end %>

<% if @counting == 9 %>
 Crushing it! Nine days of gratitude. 游뗿
<% end %>

<% if @counting == 11 %>
 Great job sticking with it! 游녪
<% end %>


<% if @counting == 12%>Pretty, Pretty, Pretty Good. 游떂

<% end %>
<% if @counting == 13%>Great job! You're staying on top of this really well. 游녨

<% end %>
<% if @counting == 14%>You're on your way to making this a real habit!

<% end %>
<% if @counting == 15%>That's right! 游땕

<% end %>
<% if @counting == 16%>Awesome job (again!)

<% end %>
<% if @counting == 17%>You're really working hard today.

<% end %>
<% if @counting == 18%>You are very good at that. 游때

<% end %>
<% if @counting == 19%>That's coming along nicely. 游

<% end %>
<% if @counting == 20%>Good work! Twenty Days!

<% end %>
<% if @counting == 21%>Amazing! I'm jealous of your gratitude skills!

<% end %>
<% if @counting == 22%>Make sure to hit your daily goal today!

<% end %>
<% if @counting == 23%>You. Are. A. Machine.

<% end %>
<% if @counting == 24%>I knew you could do it. 游떀

<% end %>
<% if @counting == 25%>Mazel Tov! 驕쥞잺

<% end %>
<% if @counting == 26%>You're getting better every day.

<% end %>
<% if @counting == 27%>That's the best you've ever done. 游녧

<% end %>
<% if @counting == 28%>You're doing a good job. 驕쥞잺

<% end %>
<% if @counting == 29%>That's it! 游땗

<% end %>
<% if @counting == 30%>Now you've figured it out. 游땏 Thirty Days!

<% end %>
<% if @counting == 31%>That's quite an improvement. 游땾

<% end %>
<% if @counting == 32%>Great! 游땎

<% end %>
<% if @counting == 33%>I knew you could do it. 游떀

<% end %>
<% if @counting == 34%>Awesome job (again!)

<% end %>
<% if @counting == 35%>Pretty, Pretty, Pretty Good. 游떂

<% end %>
<% if @counting == 36%>Keep working on it. You're improving.

<% end %>
<% if @counting == 37%>Now you have it!

<% end %>
<% if @counting == 38%>You are learning fast. 游눮

<% end %>
<% if @counting == 39%>You are crushing it.

<% end %>
<% if @counting == 40%>Couldn't have done it better myself. Fourty days! 游눩

<% end %>
<% if @counting == 41%>Aren't you proud of yourself? 游녪

<% end %>
<% if @counting == 42%>One more time and you'll have it.

<% end %>
<% if @counting == 43%>You really make my job fun.

<% end %>
<% if @counting == 44%>That's the right way to do it.

<% end %>
<% if @counting == 45%>You're getting better every day. 游떂

<% end %>
<% if @counting == 46%>You did it that time! 游녨

<% end %>
<% if @counting == 47%>That's not half bad.

<% end %>
<% if @counting == 48%>Nice going. 游땕

<% end %>
<% if @counting == 49%>You haven't missed a thing!

<% end %>
<% if @counting == 50%>Wow! 50 great days!

<% end %>
<% if @counting == 51%>That's the way! 游때

<% end %>
<% if @counting == 52%>Keep up the good work. 游

<% end %>
<% if @counting == 53%>Terrific!

<% end %>
<% if @counting == 54%>Nothing can stop you now.

<% end %>
<% if @counting == 55%>That's the way to do it.

<% end %>
<% if @counting == 56%>Sensational!

<% end %>
<% if @counting == 57%>That was first class work. 游떀

<% end %>
<% if @counting == 58%>You rock. 驕쥞잺

<% end %>
<% if @counting == 59%>That was first class work.

<% end %>
<% if @counting == 60%>Excellent! 60 days and counting 游녧

<% end %>
<% if @counting == 61%>That's the best ever. 驕쥞잺

<% end %>
<% if @counting == 62%>You've just about mastered it. 游땗

<% end %>
<% if @counting == 63%>Perfect! 游땏

<% end %>
<% if @counting == 64%>That's better than ever. 游땾

<% end %>
<% if @counting == 65%>Much better! 游땎

<% end %>
<% if @counting == 66%>Wonderful! 游떀

<% end %>
<% if @counting == 67%>You must have been practicing.

<% end %>
<% if @counting == 68%>You did that very well. 游떂

<% end %>
<% if @counting == 69%>Ohhh yeah!

<% end %>
<% if @counting == 70%>Nice going. You hit.....70!

<% end %>
<% if @counting == 71%>You're really going to town. 游눮

<% end %>
<% if @counting == 72%>Outstanding! 游떂

<% end %>
<% if @counting == 73%>Fantastic! 游녨

<% end %>
<% if @counting == 74%>Tremendous!

<% end %>
<% if @counting == 75%>Now that's what I call a fine job. 游땕

<% end %>
<% if @counting == 76%>You are amazing.

<% end %>
<% if @counting == 77%>That's great.

<% end %>
<% if @counting == 78%>Right on! 游때

<% end %>
<% if @counting == 79%>You're really improving. 游

<% end %>
<% if @counting == 80%>You're doing beautifully! Can you believe you hit 80 days?

<% end %>
<% if @counting == 81%>Superb!

<% end %>
<% if @counting == 82%>Awesome job (again!)

<% end %>
<% if @counting == 83%>You've got that down pat.

<% end %>
<% if @counting == 84%>You certainly did well today. 游떀

<% end %>
<% if @counting == 85%>Keep it up! 驕쥞잺

<% end %>
<% if @counting == 86%>Congratulations. You got it right!

<% end %>
<% if @counting == 87%>You did a lot of work today. 游녧

<% end %>
<% if @counting == 88%>Well, look at you go. 驕쥞잺

<% end %>
<% if @counting == 89%>That's it. 游땗

<% end %>
<% if @counting == 90%>Pretty, Pretty, Pretty Good. 90 days! 游땏

<% end %>
<% if @counting == 91%>Marvelous! 游땾

<% end %>
<% if @counting == 92%>I like that. 游땎

<% end %>
<% if @counting == 93%>Way to go! 游떀

<% end %>
<% if @counting == 94%>Now you have the hang of it.

<% end %>
<% if @counting == 95%>You're doing fine! 游떂

<% end %>
<% if @counting == 96%>Good thinking.

<% end %>
<% if @counting == 97%>You are really learning a lot.

<% end %>
<% if @counting == 98%>Good going. 游눮

<% end %>
<% if @counting == 99%>I've never seen anyone do it better.

<% end %>
<% if @counting == 100%>Pretty, Pretty, Pretty Good. 100 days strong! 游눩

<% end %>
<% if @counting == 101%>You outdid yourself today! 游녪

<% end %>
<% if @counting == 102%>You are crushing it.

<% end %>
<% if @counting == 103%>I think you've got it now. 游떂

<% end %>
<% if @counting == 104%>Yay! You are a rock star.

<% end %>
<% if @counting == 105%>Boom! 游떂

<% end %>
<% if @counting == 106%>You figured that out fast. 游녨

<% end %>
<% if @counting == 107%>You remembered!

<% end %>
<% if @counting == 108%>That's really nice. 游땕

<% end %>
<% if @counting == 109%>You rock!

<% end %>
<% if @counting == 110%>Yay! You are a rock star. 110 Days!

<% end %>
<% if @counting == 111%>Awesome. 游때

<% end %>
<% if @counting == 112%>Pretty, Pretty, Pretty Good. 游

<% end %>
<% if @counting == 113%>Great job! You're staying on top of this really well.

<% end %>
<% if @counting == 114%>You're on your way to making this a real habit!

<% end %>
<% if @counting == 115%>That's right!

<% end %>
<% if @counting == 116%>Awesome job (again!)

<% end %>
<% if @counting == 117%>You're really working hard today. 游떀

<% end %>
<% if @counting == 118%>You are very good at that. 驕쥞잺

<% end %>
<% if @counting == 119%>That's coming along nicely.

<% end %>
<% if @counting == 120%>Good work! 游녧 You just hit....120 days!

<% end %>
<% if @counting == 121%>Amazing! I'm jealous of your gratitude skills! 驕쥞잺

<% end %>
<% if @counting == 122%>Make sure to hit your daily goal today! 游땗

<% end %>
<% if @counting == 123%>You. Are. A. Machine.  游땏

<% end %>
<% if @counting == 124%>I knew you could do it. 游땾

<% end %>
<% if @counting == 125%>Mazel Tov! 游땎

<% end %>
<% if @counting == 126%>You're getting better every day. 游떀

<% end %>
<% if @counting == 127%>That's the best you've ever done.

<% end %>
<% if @counting == 128%>You're doing a good job. 游떂

<% end %>
<% if @counting == 129%>That's it!

<% end %>
<% if @counting == 130%>How do you feel now that you have done...130 days!

<% end %>
<% if @counting == 131%>That's quite an improvement. 游눮

<% end %>
<% if @counting == 132%>Great! 游떂

<% end %>
<% if @counting == 133%>I knew you could do it. 游녨

<% end %>
<% if @counting == 134%>Awesome job (again!)

<% end %>
<% if @counting == 135%>Pretty, Pretty, Pretty Good. 游땕

<% end %>
<% if @counting == 136%>Keep working on it. You're improving.

<% end %>
<% if @counting == 137%>Now you have it!

<% end %>
<% if @counting == 138%>You are learning fast. 游때

<% end %>
<% if @counting == 139%>You are crushing it. 游

<% end %>
<% if @counting == 140%>Couldn't have done it better myself. 140 days!

<% end %>
<% if @counting == 141%>Aren't you proud of yourself?

<% end %>
<% if @counting == 142%>One more time and you'll have it.

<% end %>
<% if @counting == 143%>You really make my job fun.

<% end %>
<% if @counting == 144%>That's the right way to do it. 游떀

<% end %>
<% if @counting == 145%>You're getting better every day. 驕쥞잺

<% end %>
<% if @counting == 146%>You did it that time!

<% end %>
<% if @counting == 147%>That's not half bad. 游녧

<% end %>
<% if @counting == 148%>Nice going. 驕쥞잺

<% end %>
<% if @counting == 149%>You haven't missed a thing! 游땗

<% end %>
<% if @counting == 150%>Wow! 150 days!!

<% end %>
<% if @counting == 151%>That's the way! 游땾

<% end %>
<% if @counting == 152%>Keep up the good work. 游땎

<% end %>
<% if @counting == 153%>Terrific! 游떀

<% end %>
<% if @counting == 154%>Nothing can stop you now.

<% end %>
<% if @counting == 155%>That's the way to do it. 游떂

<% end %>
<% if @counting == 156%>Sensational!

<% end %>
<% if @counting == 157%>That was first class work.

<% end %>
<% if @counting == 158%>You rock. 游눮

<% end %>
<% if @counting == 159%>That was first class work.

<% end %>
<% if @counting == 160%>Excellent! You are at 160 days of gratitdue 游눩

<% end %>
<% if @counting == 161%>That's the best ever. 游녪

<% end %>
<% if @counting == 162%>You've just about mastered it.

<% end %>
<% if @counting == 163%>Perfect!

<% end %>
<% if @counting == 164%>That's better than ever.

<% end %>
<% if @counting == 165%>You are amazing.

<% end %>
<% if @counting == 166%>That's great. 游떀

<% end %>
<% if @counting == 167%>Right on! 驕쥞잺

<% end %>
<% if @counting == 168%>You're really improving.

<% end %>
<% if @counting == 169%>You're doing beautifully! 游녧

<% end %>
<% if @counting == 170%>Superb! You just did your 170th day!

<% end %>
<% if @counting == 171%>Awesome job (again!) 游땗

<% end %>
<% if @counting == 172%>You've got that down pat. 游땏

<% end %>
<% if @counting == 173%>You certainly did well today. 游땾

<% end %>
<% if @counting == 174%>Keep it up! 游땎

<% end %>
<% if @counting == 175%>Congratulations. You got it right! 游떀

<% end %>
<% if @counting == 176%>You did a lot of work today.

<% end %>
<% if @counting == 177%>Well, look at you go. 游떂

<% end %>
<% if @counting == 178%>That's it.

<% end %>
<% if @counting == 179%>Pretty, Pretty, Pretty Good.

<% end %>
<% if @counting == 180%>Marvelous! 180 days! 游눮

<% end %>
<% if @counting == 181%>I like that. 游떂

<% end %>
<% if @counting == 182%>Way to go! 游녨

<% end %>
<% if @counting == 183%>Now you have the hang of it.

<% end %>
<% if @counting == 184%>You're doing fine! 游땕

<% end %>
<% if @counting == 185%>Good thinking.

<% end %>
<% if @counting == 186%>You are really learning a lot.

<% end %>
<% if @counting == 187%>Good going. 游때

<% end %>
<% if @counting == 188%>I've never seen anyone do it better. 游

<% end %>
<% if @counting == 189%>Pretty, Pretty, Pretty Good.

<% end %>
<% if @counting == 190%>You outdid yourself today! You hit 190 days!

<% end %>
<% if @counting == 191%>You are crushing it.

<% end %>
<% if @counting == 192%>I think you've got it now. 游떂

<% end %>
<% if @counting == 193%>You are great. 游떀

<% end %>
<% if @counting == 194%>Boom! 驕쥞잺

<% end %>
<% if @counting == 195%>You figured that out fast.

<% end %>
<% if @counting == 196%>You remembered! 游녧

<% end %>
<% if @counting == 197%>That's really nice. 驕쥞잺

<% end %>
<% if @counting == 198%>You rock! 游땗

<% end %>
<% if @counting == 199%>Yay! You are a rock star. 游땏

<% end %>
<% if @counting == 200%>You remembered! Day 200 in the books. 游땾

<% end %>
<% if @counting == 201%>Pretty, Pretty, Pretty Good. 游땎

<% end %>
<% if @counting == 202%>Great job! You're staying on top of this really well. 游떀

<% end %>
<% if @counting == 203%>You're on your way to making this a real habit!

<% end %>
<% if @counting == 204%>That's right! 游떂

<% end %>
<% if @counting == 205%>Awesome job (again!)

<% end %>
<% if @counting == 206%>You're really working hard today.

<% end %>
<% if @counting == 207%>You are very good at that. 游눮

<% end %>
<% if @counting == 208%>That's coming along nicely.

<% end %>
<% if @counting == 209%>Good work! 游눩

<% end %>
<% if @counting == 210%>Amazing! I'm jealous of your gratitude skills! 210 days! 游녪

<% end %>
<% if @counting == 211%>Make sure to hit your daily goal today!

<% end %>
<% if @counting == 212%>You. Are. A. Machine.

<% end %>
<% if @counting == 213%>I knew you could do it.

<% end %>
<% if @counting == 214%>Mazel Tov! 游떂

<% end %>
<% if @counting == 215%>You're getting better every day. 游녨

<% end %>
<% if @counting == 216%>That's the best you've ever done.

<% end %>
<% if @counting == 217%>You're doing a good job. 游땕

<% end %>
<% if @counting == 218%>That's it!

<% end %>
<% if @counting == 219%>Now you've figured it out.

<% end %>
<% if @counting == 220%>That's quite an improvement. 游때 You're at 220 days!

<% end %>
<% if @counting == 221%>Great! 游

<% end %>
<% if @counting == 222%>I knew you could do it.

<% end %>
<% if @counting == 223%>Awesome job (again!)

<% end %>
<% if @counting == 224%>Pretty, Pretty, Pretty Good.

<% end %>
<% if @counting == 225%>Keep working on it. You're improving.

<% end %>
<% if @counting == 226%>Now you have it! 游떀

<% end %>
<% if @counting == 227%>You are learning fast. 驕쥞잺

<% end %>
<% if @counting == 228%>You are crushing it.

<% end %>
<% if @counting == 229%>Couldn't have done it better myself. 游녧

<% end %>
<% if @counting == 230%>Aren't you proud of yourself? 230 days of gratidue!

<% end %>
<% if @counting == 231%>One more time and you'll have it. 游땗

<% end %>
<% if @counting == 232%>You really make my job fun. 游땏

<% end %>
<% if @counting == 233%>That's the right way to do it. 游땾

<% end %>
<% if @counting == 234%>You're getting better every day. 游땎

<% end %>
<% if @counting == 235%>You did it that time! 游떀

<% end %>
<% if @counting == 236%>That's not half bad.

<% end %>
<% if @counting == 237%>Nice going. 游떂

<% end %>
<% if @counting == 238%>You haven't missed a thing!

<% end %>
<% if @counting == 239%>Wow!

<% end %>
<% if @counting == 240%>That's the way! 240 days! 游눮

<% end %>
<% if @counting == 241%>Keep up the good work. 游떂

<% end %>
<% if @counting == 242%>Terrific! 游녨

<% end %>
<% if @counting == 243%>Nothing can stop you now.

<% end %>
<% if @counting == 244%>That's the way to do it. 游땕

<% end %>
<% if @counting == 245%>Sensational!

<% end %>
<% if @counting == 246%>That was first class work.

<% end %>
<% if @counting == 247%>You rock. 游때

<% end %>
<% if @counting == 248%>That was first class work. 游

<% end %>
<% if @counting == 249%>Excellent!

<% end %>
<% if @counting == 250%>That's the best ever. 250 days is so impressive!

<% end %>
<% if @counting == 251%>You've just about mastered it.

<% end %>
<% if @counting == 252%>Perfect!

<% end %>
<% if @counting == 253%>That's better than ever. 游떀

<% end %>
<% if @counting == 254%>Much better! 驕쥞잺

<% end %>
<% if @counting == 255%>Wonderful!

<% end %>
<% if @counting == 256%>You must have been practicing. 游녧

<% end %>
<% if @counting == 257%>You did that very well. 驕쥞잺

<% end %>
<% if @counting == 258%>Ohhh yeah!  游땗

<% end %>
<% if @counting == 259%>Nice going. 游땏

<% end %>
<% if @counting == 260%>You're really going to town. 260 days! 游땾

<% end %>
<% if @counting == 261%>Outstanding! 游땎

<% end %>
<% if @counting == 262%>Fantastic! 游떀

<% end %>
<% if @counting == 263%>Tremendous!

<% end %>
<% if @counting == 264%>Now that's what I call a fine job. 游떂

<% end %>
<% if @counting == 265%>You are amazing.

<% end %>
<% if @counting == 266%>That's great.

<% end %>
<% if @counting == 267%>Right on! 游눮

<% end %>
<% if @counting == 268%>You're really improving.

<% end %>
<% if @counting == 269%>You're doing beautifully! 游눩

<% end %>
<% if @counting == 270%>Superb! 270 days! 游녪

<% end %>
<% if @counting == 271%>Awesome job (again!)

<% end %>
<% if @counting == 272%>You've got that down pat.

<% end %>
<% if @counting == 273%>You certainly did well today.

<% end %>
<% if @counting == 274%>Keep it up! 游떂

<% end %>
<% if @counting == 275%>Congratulations. You got it right! 游녨

<% end %>
<% if @counting == 276%>You did a lot of work today.

<% end %>
<% if @counting == 277%>Well, look at you go. 游땕

<% end %>
<% if @counting == 278%>That's it.

<% end %>
<% if @counting == 279%>Pretty, Pretty, Pretty Good.

<% end %>
<% if @counting == 280%>Marvelous! 280 days! 游때

<% end %>
<% if @counting == 281%>I like that. 游

<% end %>
<% if @counting == 282%>Way to go!

<% end %>
<% if @counting == 283%>Now you have the hang of it.

<% end %>
<% if @counting == 284%>You're doing fine!

<% end %>
<% if @counting == 285%>Good thinking.

<% end %>
<% if @counting == 286%>You are really learning a lot. 游떀

<% end %>
<% if @counting == 287%>Good going. 驕쥞잺

<% end %>
<% if @counting == 288%>I've never seen anyone do it better.

<% end %>
<% if @counting == 289%>Pretty, Pretty, Pretty Good. 游녧

<% end %>
<% if @counting == 290%>You outdid yourself today! 290 days!

<% end %>
<% if @counting == 291%>You are crushing it. 游땗

<% end %>
<% if @counting == 292%>I think you've got it now. 游땏

<% end %>
<% if @counting == 293%>Yay! You are a rock star. 游땾

<% end %>
<% if @counting == 294%>Boom! 游땎

<% end %>
<% if @counting == 295%>You figured that out fast. 游떀

<% end %>
<% if @counting == 296%>You remembered!

<% end %>
<% if @counting == 297%>That's really nice. 游떂

<% end %>
<% if @counting == 298%>You rock!

<% end %>
<% if @counting == 299%>Yay! You are a rock star.

<% end %>
<% if @counting == 300%>You remembered! 300 days! What an accomplishment. 游눮

<% end %>
<% if @counting == 301%>Pretty, Pretty, Pretty Good. 游떂

<% end %>
<% if @counting == 302%>Great job! You're staying on top of this really well. 游녨

<% end %>
<% if @counting == 303%>You're on your way to making this a real habit!

<% end %>
<% if @counting == 304%>That's right! 游땕

<% end %>
<% if @counting == 305%>Awesome job (again!)

<% end %>
<% if @counting == 306%>You're really working hard today.

<% end %>
<% if @counting == 307%>You are very good at that. 游때

<% end %>
<% if @counting == 308%>That's coming along nicely. 游

<% end %>
<% if @counting == 309%>Good work!

<% end %>
<% if @counting == 310%>Amazing! I'm jealous of your gratitude skills! You just hit 310 days!

<% end %>
<% if @counting == 311%>Make sure to hit your daily goal today!

<% end %>
<% if @counting == 312%>You. Are. A. Machine.

<% end %>
<% if @counting == 313%>I knew you could do it. 游떀

<% end %>
<% if @counting == 314%>Mazel Tov! 驕쥞잺

<% end %>
<% if @counting == 315%>You're getting better every day.

<% end %>
<% if @counting == 316%>That's the best you've ever done. 游녧

<% end %>
<% if @counting == 317%>You're doing a good job. 驕쥞잺

<% end %>
<% if @counting == 318%>That's it! 游땗

<% end %>
<% if @counting == 319%>Now you've figured it out. 游땏

<% end %>
<% if @counting == 320%>That's quite an improvement. 320 days!游땾

<% end %>
<% if @counting == 321%>Great! 游땎

<% end %>
<% if @counting == 322%>I knew you could do it. 游떀

<% end %>
<% if @counting == 323%>Awesome job (again!)

<% end %>
<% if @counting == 324%>Pretty, Pretty, Pretty Good. 游떂

<% end %>
<% if @counting == 325%>Keep working on it. You're improving.

<% end %>
<% if @counting == 326%>Now you have it!

<% end %>
<% if @counting == 327%>You are learning fast. 游눮

<% end %>
<% if @counting == 328%>You are crushing it.

<% end %>
<% if @counting == 329%>Couldn't have done it better myself. 游눩

<% end %>
<% if @counting == 330%>Aren't you proud of yourself? 330 days! 游녪

<% end %>
<% if @counting == 331%>One more time and you'll have it.

<% end %>
<% if @counting == 332%>You really make my job fun.

<% end %>
<% if @counting == 333%>That's the right way to do it.

<% end %>
<% if @counting == 334%>You're getting better every day. 游떂

<% end %>
<% if @counting == 335%>You did it that time! 游녨

<% end %>
<% if @counting == 336%>That's not half bad.

<% end %>
<% if @counting == 337%>Nice going. 游땕

<% end %>
<% if @counting == 338%>You haven't missed a thing!

<% end %>
<% if @counting == 339%>Wow!

<% end %>
<% if @counting == 340%>That's the way! 340 days! 游때

<% end %>
<% if @counting == 341%>Keep up the good work. 游

<% end %>
<% if @counting == 342%>Terrific!

<% end %>
<% if @counting == 343%>Nothing can stop you now.

<% end %>
<% if @counting == 344%>That's the way to do it.

<% end %>
<% if @counting == 345%>Sensational!

<% end %>
<% if @counting == 346%>That was first class work. 游떀

<% end %>
<% if @counting == 347%>You rock. 驕쥞잺

<% end %>
<% if @counting == 348%>That was first class work.

<% end %>
<% if @counting == 349%>Excellent! 游녧

<% end %>
<% if @counting == 350%>That's the best ever. 350 days!

<% end %>
<% if @counting == 351%>You've just about mastered it. 游땗

<% end %>
<% if @counting == 352%>Perfect! 游땏

<% end %>
<% if @counting == 353%>That's better than ever. 游땾

<% end %>
<% if @counting == 354%>Much better! 游땎

<% end %>
<% if @counting == 355%>Wonderful! 游떀

<% end %>
<% if @counting == 356%>You must have been practicing.

<% end %>
<% if @counting == 357%>You did that very well. 游떂

<% end %>
<% if @counting == 358%>Ohhh yeah!

<% end %>
<% if @counting == 359%>Nice going.

<% end %>
<% if @counting == 360%>You're really going to town. 360 days! 游눮

<% end %>
<% if @counting == 361%>Outstanding! 游떂

<% end %>
<% if @counting == 362%>Fantastic! 游녨

<% end %>
<% if @counting == 363%>Tremendous!

<% end %>
<% if @counting == 364%>Now that's what I call a fine job. 游땕

<% end %>
<% if @counting == 365%>You are amazing.

<% end %>
<% if @counting == 366%>That's great.

<% end %>
<% if @counting == 367%>Right on! 游때

<% end %>
<% if @counting == 368%>You're really improving. 游

<% end %>
<% if @counting == 369%>You're doing beautifully!

<% end %>
<% if @counting == 370%>Superb! 370 days!

<% end %>
<% if @counting == 371%>Awesome job (again!)

<% end %>
<% if @counting == 372%>You've got that down pat.

<% end %>
<% if @counting == 373%>You certainly did well today. 游떀

<% end %>
<% if @counting == 374%>Keep it up! 驕쥞잺

<% end %>
<% if @counting == 375%>Congratulations. You got it right!

<% end %>
<% if @counting == 376%>You did a lot of work today. 游녧

<% end %>
<% if @counting == 377%>Well, look at you go. 驕쥞잺

<% end %>
<% if @counting == 378%>That's it. 游땗

<% end %>
<% if @counting == 379%>Pretty, Pretty, Pretty Good. 游땏

<% end %>
<% if @counting == 380%>Marvelous! 380 days! 游땾

<% end %>
<% if @counting == 381%>I like that. 游땎

<% end %>
<% if @counting == 382%>Way to go! 游떀

<% end %>
<% if @counting == 383%>Now you have the hang of it.

<% end %>
<% if @counting == 384%>You're doing fine! 游떂

<% end %>
<% if @counting == 385%>Good thinking.

<% end %>
<% if @counting == 386%>You are really learning a lot.

<% end %>
<% if @counting == 387%>Good going. 游눮

<% end %>
<% if @counting == 388%>I've never seen anyone do it better.

<% end %>
<% if @counting == 389%>Pretty, Pretty, Pretty Good. 游눩

<% end %>
<% if @counting == 390%>You outdid yourself today! 390 days! 游녪

<% end %>
<% if @counting == 391%>You are crushing it.

<% end %>
<% if @counting == 392%>I think you've got it now. 游녪

<% end %>
<% if @counting == 393%>Yay! You are a rock star.

<% end %>
<% if @counting == 394%>Boom! 游떂

<% end %>
<% if @counting == 395%>You figured that out fast. 游녨

<% end %>
<% if @counting == 396%>You remembered!

<% end %>
<% if @counting == 397%>That's really nice. 游땕

<% end %>
<% if @counting == 398%>You rock!

<% end %>
<% if @counting == 399%>Yay! You are a rock star.

<% end %>
<% if @counting == 400%>Great job! You just accomplished 400 days of gratitude! 游때

<% end %>


<% if @counting > 400 %>
 Great job sticking with it! 游녪
<% end %>






</div>
</div>
