<% if @counting == 0 %>
<div class="show-center">

<h4><a href="/pages/gratitude-tips">You're new here! Check out some gratitude tips before you get started by clicking here ⬅️</a> </h4>
</div>
<% end%>
<div class="purple">



<div class="center1">



<%= render 'form' %>

</div>
</div>
<br>
