
<div class="center">

<h1>Great job! As a reward, enjoy a stranger's entry.</h1>

</div>
<div class="center1">
<div class ="card">
  <br>
  
<br>


<%= link_to 'Back to My Entries', posts_path,:class => "ctas-button-3" %>

</div>
